- Specialization.all.each do |specialization|
  %h3= specialization.name
  %ul
    - specialization.clinics.each do |clinic|
      %li= link_to clinic.name, clinic_path(clinic)

%p= link_to "New Clinic", new_clinic_path
