- if evidence.level.present?
  %span{show_tooltip(title: evidence_tooltip_text(evidence), placement: "right")}
    %strong
      Level of Evidence
    = link_to evidence.label, "https://www.essentialevidenceplus.com/product/ebm_loe.cfm?show=grade"