%ul#specialties-menu
  %li.dropdown.no-caret
    %a.specialties-dropdown-toggle{"href" => "javascript:void(0)"}
      All Specialties
      %b.caret

= render 'partials/specialization_dropdown_menu'

%script{"type" => "text/javascript"}
  $(document).ready(function() { update_favorites() });
