- set_page_specific_title "Info"

.content-wrapper
  .content
    .row
      #pathways-info.span6.offset3
        %h2 What is Pathways?

        %p.space.no_indent
          Pathways is an online resource that allows GPs and their office staff
          to quickly access current and accurate referral information,
          including wait times and areas of expertise, for specialists and
          specialty clinics. In addition, Pathways makes available hundreds of
          patient and physician resources that are categorized and searchable.
          %span.info-text__italics
            Access to Pathways is currently limited to GPs and/or NPs (and
            their staff) within British Columbia who are members of a Division
            of Family Practice, as well as specialists who fall within the
            geographic boundaries of these Divisions.

        %p.space.no_indent
          Pathways was first developed by the Fraser Northwest Division as a
          tool that could help improve patient referrals made by GPs to
          specialists and specialty clinics. It was then adopted as a pilot
          project by GPSC in 2014 and rolled out to 12 Divisions, including
          Vancouver, all Divisions in the Fraser Health catchment area, and
          Kootenay Boundary. After demonstrating the success of Pathways in
          these Divisions, GPSC further authorized expansion of Pathways across
          the province in 2015, which is ongoing. The entire process has been
          directed and led by physicians, from initial conception through
          project implementation, and this is still the case today.

        %p.space.no_indent
          The key goals of Pathways include:
          %ul
            %li
              Allowing GPs to identify the most appropriate specialists with
              shorter wait times.
            %li
              Simplify the patient referral process by easily identifying
              specific areas of practice offered by each specialist and clinic.
            %li
              Providing GPs with the most up-to-date information possible to
              ensure appropriateness of referrals.
            %li
              Decreasing the incidence of re-referrals, thereby increasing the
              efficiency of patient care.
          Access is limited to GPs that are members of a Division of Family
          Practice, their medical office staff, and to specialists practicing
          within those respective Divisions.
        %br

        %h2 What can divisions do to prepare for Pathways?

        %p.space.no_indent
          Divisions are excited about the potential of Pathways and frequently
          ask what they can do to prepare for implementation in their region.
          The Provincial Pathways team works closely with Divisions to
          understand the steps involved in this process, the resources needed
          for successful implementation, and the timeline involved. Divisions
          will be provided with a comprehensive training program prior to
          implementation and are fully supported throughout the process.

        %p.space.no_indent
          While Divisions are not necessarily encouraged to start Pathways data
          collection before making contact with and receiving support from the
          Provincial team (as the process is quite specific), Divisions may
          have collected physician, clinic, or community resource data
          previously for other initiatives that can help streamline Pathways
          data collection.

        %p.space.no_indent
          Key considerations in preparing for implementation include:
          %ul
            %li
              Understanding how many specialists fall within your Division’s
              catchment area (including visiting specialists). You may even
              want to collect some basic contact information for each to make
              data collection more efficient once implementation commences.
            %li
              Considering strategies to engage these specialists during the
              data collection process, to make your Division’s Pathways site as
              comprehensive as possible.
            %li
              Consider strategies to engage your GP users to encourage uptake
              within your community.
            %li
              Identify physician (and/or MOA) champions who can help spread
              interest and enthusiasm for Pathways, and who can help lead your
              implementation process.
            %li
              Think beyond implementation – what enabling factors will help
              continue to make Pathways successful in your region well into the
              future?

        %p.space.no_indent
          Understand that a successful implementation (and the subsequent
          maintenance of data collected) is primarily contingent on successful
          relationship building between your Division’s Pathways team and the
          physician community. Physicians that are engaged are more likely to
          understand the benefits of Pathways to their own practice and to then
          make meaningful contributions to data collection and maintenance.
        %br
        %br

        %p.space.no_indent
          Please
          %a{ href: contact_path }
            contact us here
          for further information.
