- set_page_specific_title "Terms of Use"

:javascript
  $(document).ready(function() { update_favorites() });

= render "partials/all_specialties_dropdown",
  specialization: nil

.content-wrapper
  .content
    .row
      #toc.span6.offset3
        = render 'users/toc'
