.content-wrapper#login{style: "height: 210px"}
  .content
    .row
      .span8.offset4
        %h2{style: "margin-bottom: 10px"}
          = "Thank you"

        %p
          = "Thank you for contacting Pathways administration.  We will respond to your inquiry as soon as possible."
