- set_page_specific_title "Change Requests"

.tabbable
  #react_root--template

:javascript
  window.pathways.dataForReact.push(#{Oj.dump(@init_data)});

.content-wrapper
  %p.admin.btn-group
    - if can? :create, Issue
      = link_to new_issue_path,
        class: "btn" do
        %i.icon-plus
        %span= " New Change Request"
