bin/
.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.DS_Store
.rspec
__MACOSX/
vendor/gems
db/*.bak
config/heroku_env.rb
/app/views/.DS_Store
/logfile
.idea
config/database.yml
config/google_oauth.p12
reports/
.ruby-gemset
config/google_oauth.p12
/reports
notes
ssl/
