.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.DS_Store
.rspec
__MACOSX/
vendor/gems
db/*.bak
config/heroku_env.rb
/app/views/.DS_Store
/logfile
.idea
config/database.yml
config/google_oauth.p12
.ruby-gemset
config/google_oauth.p12
/reports/*
ssl/
scratchpad/
config/google_oauth.p12
node_modules/
app/assets/javascripts/webpack.bundle.js
app/assets/javascripts/webpack.bundle.js.map
dump.rdb
npm-debug.log
x.rb
frasernw.sublime-project
frasernw.sublime-workspace
seeds/
