- can_edit = user_divisions.include? division
%table.table.table-condensed.table-striped
  - division_specialists = Specialist.in_divisions([division])
  - Specialist.preload_associations(division_specialists, :specializations)
  - specializations.each do |specialization|
    - specialists = division_specialists.select{|sp| sp.specializations.include?(specialization)}.sort{ |a,b| (a.lastname || "zzz") <=> (b.lastname || "zzz") }
    - next if specialists.blank?
    %tr
      %th{:style => "width:100%"}=specialization.name
      - if can_edit
        %th.admin

    - specialists.each do |specialist|
      %tr
        %td= link_to specialist.name, specialist_path(specialist), :class => 'ajax'
        - if can_edit
          %td.admin.btn-group
            = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_specialist_path(specialist), :class => "btn btn-mini ajax")
            = link_to("<i class='icon-trash'></i>".html_safe + " Delete", specialist, :confirm => "Delete #{specialist.name}?", :method => :delete, :class => "btn btn-mini")
