- set_page_specific_title "Edit #{@specialist.name}"

.content-wrapper

  #appreciation-message
    %p
      Pathways is a resource designed for physicians, built by physicians.
      Its utility is dependent on active participation by all physicians,
      particularly in keeping your profile current and up-to-date.
    %p
      Thank you for your continued contributions to Pathways!
    %br

  %h2 Edit Specialist

  = render 'specialists/form'
