- title "Specialists"

.content-wrapper

  %h2 Specialists

  %table.table.table-condensed.table-striped
    -Specialization.all.each do |specialization|
      %tr{ :class => specialization.in_progress ? "in-progress" : "" } 
        %th
          %span{ :class => specialization.in_progress ? "in-progress" : "" }=specialization.name
        %th.admin
        
      - specialization.specialists.each do |specialist|
        %tr
          %td= link_to specialist.name, specialist_path(specialist), :class => 'ajax'
          %td.admin.btn-group
            = link_to("<i class='icon-pencil'></i>".html_safe + " Edit", edit_specialist_path(specialist), :class => "btn btn-mini ajax")
            = link_to("<i class='icon-trash'></i>".html_safe + " Delete", specialist, :confirm => "Delete #{specialist.name}?", :method => :delete, :class => "btn btn-mini")

