- title "Specialists - #{@specialization.name}"

%ul
  - @specialization.specialists.each do |specialist|
    %li= link_to listed_specialist(specialist), specialization_specialist_path(@specialization, specialist)

%p= link_to "New Specialist", new_specialization_specialist_path
