- Specialization.all.each do |specialization|
  %h3= specialization.name
  %ul
    - specialization.specialists.each do |specialist|
      %li= link_to specialist.name, specialist_path(specialist)

%p= link_to "New Specialist", new_specialist_path
