- if activity.trackable
  = link_to activity.trackable.division.name, activity.trackable.division if activity.trackable.division
  Division created a news item:
  = link_to activity.trackable.title, news_item_url(activity.trackable)
- else
  A news item was created which has since been removed.