.content-wrapper
  %h2
    = "Specialist and Clinic Updates for #{@divisions.map(&:name).to_sentence}:"

  - LatestUpdates.for(:index, @divisions).each do |event|
    %p{style: "margin-top: 10px"}= event
