- set_page_specific_title "Latest Updates (#{@divisions.map(&:name).to_sentence})"

#latest_updates_react_component

:javascript
  window.pathways.bootstrapReact({
    domElementSelector: "#latest_updates_react_component",
    stateMapper: "PassThrough",
    topLevelComponent: "LatestUpdates",
    uiReducer: "LatestUpdates"
  }, #{@init_data.to_json})
