- set_page_specific_title "Latest Updates (#{@divisions.map(&:name).to_sentence})"

#react_root--template

:javascript
  window.pathways = window.pathways || {};
  window.pathways.dataForReact = #{Oj.dump(@init_data)};
