- if @clinic.practicing?
  .span4.offsethalf
    .well.areas-of-practice
      %h6 Accepts Referrals For

      - @clinic.specializations.each do |specialization|
        = procedures_listing(@clinic.nested_procedures(specialization))

      - if @clinic.interest.present?
        %p.space
          %strong Most interested in
        %p= @clinic.interest.end_with_period.convert_newlines_to_br

      - if @clinic.not_performed.present?
        %p.space
          %strong Does not see or do
        %p= @clinic.not_performed.end_with_period.convert_newlines_to_br
