
#content #container {
  p.line_item {
    margin-bottom: 5px;
  }
  .notes {
    margin-top: 10px;
  }
  textarea {
    width: 400px;
  }
  .note {
    margin-bottom: 20px;
  }
  hr {
    border-bottom-color: #424242;
  }
}
