- cache("livesearch_all_entries") do
  var pathways_all_search_data = [];
  - Specialization.all.each do |specialization|
    = render 'livesearch_all_entries.js', :specialization => specialization

  pathways_all_search_data = vendor._.uniq(pathways_all_search_data, function(elem) { return (elem.go + "_" + elem.id.toString()) })
