#section_for_patients

  %hr

  %h3 Information for Patients

  .alert.alert-info
    %p.no_indent
      Please note: the following information will be made available to
      patients when the 'Print Information for Patients' button is used.

  = f.input :patient_instructions,
    hint: "e.g. call two days in advance to confirm, bring a list of medications."
  = f.input :cancellation_policy
