%ol
  - nodes.each_with_index do |history_node, index|
    - if history_node.has_note?
      %li.history_node
        %p.history__line_item
          %span= history_node.user
          %span= history_verb(history_node, item)
          %ul
            %li
              = history_node.note
