- favorite_class = logged_in? ? (Favorite.find_by(user_id: current_user.id,
  favoritable_id: @specialist.id,
  favoritable_type: "Specialist").present? ? "icon-red" : "icon-text") : "icon-text"

:javascript
  $(document).ready(function() {
    $('.tt').tooltip({trigger: 'manual'});
    $('#user_favorite_specialists_#{@specialist.id}').addClass('#{favorite_class}');
  });
