- if @specialist.practicing?
  .span4.offsethalf
    .well.areas-of-practice
      %h6 Accepts Referrals For

      - @specialist.specializations.each do |specialization|
        = procedures_listing(@specialist.nested_procedures(specialization))

      - if @specialist.interest.present?
        %p.space
          %strong Most interested in
        %p= @specialist.interest.end_with_period.convert_newlines_to_br

      - if @specialist.not_performed.present?
        %p.space
          %strong Does not see or do
        %p= @specialist.not_performed.end_with_period.convert_newlines_to_br
