- set_page_specific_title "Pathways Newsletters"

.content-wrapper

  %h2 Pathways Newsletters

  %table.table
    %tbody
      - @newsletters.each do |newsletter|
        %tr
          %td
            = link_to newsletter.month, newsletter.url, target: "_blank"

            - if newsletter.new?
              %span.new NEW

            - if can? :edit, Newsletter
              = link_to "Edit",
                edit_newsletter_path(newsletter),
                class: "btn btn-mini",
                style: "float: right; margin-left: 10px;"
            - if can? :destroy, Newsletter
              %span{ style: "float: right; margin-left: 10px;" }
                = delete_button(newsletter_path(newsletter),
                  "Delete Newsletter?",
                  mini: true)
