/* Colours */

$FNW_BACKGROUND: #fefefe;
$FNW_HEADER_TEXT: #FDFDFD;
$FNW_LIGHT_GRAY: #e8f6f6;
$FNW_MID_GRAY: #CCC;
$FNW_DARK_GRAY: #556270;
$FNW_GREEN: #1ddc3e;
$FNW_BLUE: #049CDB;
$FNW_LIGHT_BLUE: #addfff;
$FNW_RED: #C44D58;
$FNW_ORANGE: #F89406;
$FNW_TEXT: #424242;

/* Fonts */

/*
@font-face
{
  font-family: Icon;
  src: url('/fonts/iconic_fill.otf');
}

@font-face {
	font-family: 'League Gothic';
	src: url('/fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'), 
	     url('/fonts/League_Gothic-webfont.woff') format('woff'), 
	     url('/fonts/League_Gothic-webfont.ttf')  format('truetype'),
	     url('/fonts/League_Gothic-webfont.svg#League_Gothic') format('svg');
	}
*/