@import "_globals";


$FNW_STATUS_INDENT: 40px;    
    
.admin, .navbar .nav > li.admin
{
  /*display: none;*/
}

.in-progress
{
  background-image: url(/img/orange-stripes.png);
}

body 
{
  background-color: $FNW_BACKGROUND;
  color:$FNW_TEXT;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding-bottom: 30px;
}
  
#search_results
{
  $SEARCH_BORDER_RADIUS: 4px;

  z-index: 1979;
  position: absolute;
  overflow: hidden;
  top: 34px;
  right: 0;
  margin: 0;
  padding: 0;
  width: 406px;
  background-color: $FNW_BACKGROUND;
  border-bottom: 1px solid $FNW_DARK_GRAY;
  border-left: 1px solid $FNW_DARK_GRAY;
  border-right: 1px solid $FNW_DARK_GRAY;
  -webkit-border-bottom-right-radius: $SEARCH_BORDER_RADIUS;
  -webkit-border-bottom-left-radius: $SEARCH_BORDER_RADIUS;
  -moz-border-bottom-left-radius: $SEARCH_BORDER_RADIUS;
  -moz-border-bottom-right-radius: $SEARCH_BORDER_RADIUS;
  border-bottom-left-radius: $SEARCH_BORDER_RADIUS;
  border-bottom-right-radius: $SEARCH_BORDER_RADIUS;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px $FNW_MID_GRAY;
  
  ul
  {
    margin: 0;
    padding: 0;
    
    li
    {
      display: table;
      list-style: none;
      width: 100%;
      margin: 0;
      padding: 0;
    }
    
    li.group
    {
      padding: 2px 0;
      border-top: 1px solid $FNW_MID_GRAY;
      border-bottom: 1px solid $FNW_MID_GRAY;
      background-color: $FNW_LIGHT_GRAY;
      color: $FNW_RED;
      font-weight: bold;
      font-size: 13px;
      
      [class^="icon-"]
      {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  
    li.result
    { 
      div
      {
        float: left;
        display: inline-block;
        margin-left: $FNW_STATUS_INDENT;
        width: 200px - $FNW_STATUS_INDENT;
        overflow: visible;
      }
      
      div.search_specialties, div.search_city
      {
        margin-left: 20px;
        width: 180px;
      }
      
      div.search_wait_time
      {
        clear: both;
        padding-bottom: 5px;
      }
      
      a
      {
        display: block;
        padding: 5px 0;
        width: 100%;
        min-height: 20px;
        line-height: 20px;
        color: $FNW_BLUE;
      }
      
      em
      {
        font-style: normal;
        font-weight: bold;
        background-color: $FNW_LIGHT_BLUE;
      }
    }
    
    li.result + li.result
    {
      border-top: 1px solid $FNW_LIGHT_GRAY;
    }
    
    li.result:hover, li.result.selected
    {
      background: $FNW_LIGHT_BLUE;
      a
      {
        color: $FNW_RED;
        text-decoration: none;
      }
    }
    
    li.result:last-of-type
    {
      -webkit-border-bottom-right-radius: $SEARCH_BORDER_RADIUS;
      -webkit-border-bottom-left-radius: $SEARCH_BORDER_RADIUS;
      -moz-border-bottom-left-radius: $SEARCH_BORDER_RADIUS;
      -moz-border-bottom-right-radius: $SEARCH_BORDER_RADIUS;
      border-bottom-left-radius: $SEARCH_BORDER_RADIUS;
      border-bottom-right-radius: $SEARCH_BORDER_RADIUS;
    }
    
    li.empty
    {
      padding: 10px 20px;
      color: $FNW_TEXT; 
      font-weight: bold; 
    }
  }
}

#content #container
{
  h1, h2, h3, h4, h5, h6
  {
    color: $FNW_RED;
    font-weight: normal;  
  }
  
  h3.pull-left
  {
    padding-right: 8px;
    margin: 3px 0 0 0;
  }
  
  h3.specialty_links
  {
    font-size: 15px;
    color: $FNW_TEXT;
  }
  
  h5
  {
    font-size: 13px;
    color: $FNW_TEXT;
  }
  
  h6
  {
    color: $FNW_RED;
    font-weight: bold;
    margin: 12px 0 6px 0;
    padding: 12px 0 0 0;
    border-top: 1px dotted $FNW_DARK_GRAY;
  }
  
  p
  {
    margin: 0 0 0 24px;
  }
  
  .indent
  {
    margin-left: 24px;
  }
  
  p.no_indent
  {
    margin-left: 0;
  }
  
  p.space
  {
    margin-top: 4px;
  }
  
  p:empty
  {
    margin: 0;
  }
  
  a
  {
    color: $FNW_BLUE;
    text-decoration: none;
  }
  
  a:hover
  {
    text-decoration: underline;
  }
  
  a.address
  {
    text-decoration: none;
  }
  
  a.address:hover
  {
    text-decoration: underline;
  }
  
  a.btn:hover
  {
    text-decoration: none;
  }
  
  ul
  {
    margin: 4px 0 0 28px;
    
    li
    {
      list-style-position: inside;
    }
    
    ul
    {
      margin-left: 14px;
    }
  }
  
  ul.pager
  {
    margin-top: 1em;
  }
  
  td.admin.btn-group
  {
    width: 120px;
  }
  
  a.btn
  {
    color: $FNW_TEXT;
    font-weight: normal;
  }
    
  a.btn.btn-primary, a.btn.btn-danger, a.btn.btn-warning
  {
    color: #fff;
  }
    
  a.btn.btn-top-pad
  {
    margin-top: 10px;
  }
    
  a.btn.btn-bottom-pad
  {
    margin-bottom: 10px;
  }
  
  .table
  {
    th
    {
      border-top: 0;
    }
    
    th.name_column
    {
      width: 40%;
    }
    
    th.status_column
    {
      width: 20%;
    }
    
    th.wait_time_column
    {
      width: 20%;
    }
    
    th.city_column
    {
      width: 20%;
    }
    
    tr td 
    {
      border-top: 1px solid $FNW_LIGHT_GRAY;
      vertical-align: middle;
      height: 31px;
      padding-top:0;
      padding-bottom:0;
      
      .status_available,
      .status_unavailable,
      .status_unknown,
      .status_warning
      {
        visibility: hidden;
      }
      
      .status_available:before, 
      .status_unavailable:before, 
      .status_unknown:before, 
      .status_warning:before
      {
        visibility: visible;
        margin-left: 0;
        margin-right: 0;
      }
      
      ul
      {
        margin: 0;
        
        li
        {
          list-style-type: none;
        }
      }
    }
    
    tr.not-responded td
    {
      color: $FNW_DISABLED_TEXT;
      
      a
      {
        color: $FNW_DISABLED_TEXT;
      }
    }
  }
  
  table.tablesorter
  {
    thead tr 
    {
      th.headerSortUp:after, 
      th.headerSortDown:after,
      th:after
      {
        display: inline-block;
        margin-left: 10px;
        width: 14px;
        height: 14px;
        background-position: 14px 14px;
        background-repeat: no-repeat;
        background-image: url(/img/glyphicons-halflings-blue.png);
        content: "\0000a0";
      }
      
      th:hover
      {
        cursor: pointer;
      }
      
      th.headerSortUp:after
      {
        background-position: -289px -96px;       
      }
      
      th.headerSortDown:after 
      {
        background-position: -312px -96px;
      }
      
      th.headerSortUp + th.headerSortUp:after, 
      th.headerSortDown + th.headerSortDown:after, 
      th.headerSortUp + th.headSortDown:after, 
      th.headerSortDown + th.headerSortUp:after
      {
        background-position: 14px 14px;
      } 
    }
  }
  
  .form-horizontal
  {
    h1, h2, h3, h4, h5, h6
    {
      color: $FNW_RED;
      margin-bottom: 10px;
    }
    
    .row .fields .row
    {
      margin-left: 0;
    }
    
    #availability
    {
      select.unavailable_from, span.unavailable_to, select.unavailable_to
      {
        width: auto;
        float: left;
        margin-right: 5px;
      }
      
      select.unavailable_to:first-child
      {
        clear: both;
      }
    }
  }
  
  .filter
  {
    .title
    {
      margin: -8px -8px 8px -8px;
      padding: 8px;
      background: $FNW_LIGHT_BLUE;
      border-bottom: 1px dashed $FNW_BACKGROUND;
      text-align: center;
      color: $FNW_TEXT;
      font-weight: bold;
    }
      
    .filter-group-title
    {
      color: $FNW_TEXT;
      font-weight: bold;
      padding-bottom: 4px;
    }
    
    a.filter-group-title:hover
    {
      color: $FNW_RED;
      text-decoration: none;
    }
    
    label
    {
      display: block;
      text-indent: -18px;
      padding-left: 18px;
      
      input
      {
        display: inline;
        margin-right: 5px;
      }
    }
    
    label.indent
    {
      margin-left: 18px;
      text-indent: 0;
      padding-left: 0;
      
      select
      {
        margin-left: 0;
        width: 95%;
      }
    }
    
    label.half
    {
      display: inline-block;
      width: 80px;
    }
    
    hr
    {
      margin: 8px auto;
      border: 0;
      height: 1px;
      background-color: $FNW_MID_GRAY;
    }
  }
  
  .filter-phrase
  {
    display: none;
    background-color: $FNW_LIGHT_BLUE;
    padding: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .filter-phrase.none
  {
    background-color: $FNW_RED;
    color: $FNW_BACKGROUND;
    
    a
    {
      color: $FNW_LIGHT_BLUE;
    }
  }
  
  .row.spaced
  {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .investigation .list_disabled
  {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
  }
  
  
  
  #front
  {
    color: inherit;
    text-decoration: none;
  }
  a:hover
  {
    text-decoration: underline;
  }
}

.dropdown-menu li
{
  position: relative;
}

.nav li.dropdown ul.dropdown-menu li:hover > ul 
{
  display:block; 
  position:absolute; 
  left:100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.nav li.dropdown > ul.dropdown-menu ul 
{
  display: none;
  float:right;
  position: relative;
  top: auto;
  margin-top: -30px;
}

.nav li.dropdown ul.dropdown-menu ul.dropdown-menu:before 
{
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-left: none;
  position: absolute;
  top: 10px;
  left: -7px;
}

.nav li.dropdown ul.dropdown-menu ul.dropdown-menu:after
{
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #fff;
  border-left: none;
  position: absolute;
  top: 11px;
  left: -6px;
}
