@import "_globals";

@font-face
{
  font-family: Quicksand;
  src: url('/Quicksand_Book.otf');
}

@font-face
{
  font-family: QuicksandDash;
  src: url('/Quicksand_Dash.otf');
}


@font-face
{
  font-family: Oswald;
  src: url('/Oswald.ttf');
}


@font-face
{
  font-family: Icon;
  src: url('/iconic_fill.otf');
}

html 
{
  font-size:100%;
}

body 
{
  color:$FNW_TEXT;
  background:$FNW_BACKGROUND;
  /*font-family: Quicksand, QuicksandDash;*/
  /*font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

#header
{
  #top-nav
  {
  }
  #admin
  {
    border-top: 1px dotted $FNW_TEXT;
    font-size: 9pt;
  }
  
  margin-bottom: 0;
}

#body
{
  #left-nav
  {
    position: relative;
    overflow-x: hidden;
    height: auto;
    
    font-size: 10pt;
    margin-left: 19px; /*compensate for border width with bootstrap */
    border-right: 1px solid #eee;
    
    h1
    {
      font-size: 15pt;
      color: $FNW_RED;
      padding: 0 10px;
    }
    
    ul
    {
      list-style: none;
      margin: 5px 0 0 0;
      
      li
      {
        border-top: 1px solid #eee;
        
        a
        {
          padding: 5px 10px;
          display: inline-block;
          width: 100%;
        }
         
        a:hover
        {
          background-color: $FNW_BLUE;
          text-decoration: none;
        }
        
        ul
        {
          margin: 0;
          
          li
          {
            a
            {
              padding-left: 30px;
            }
          }
        }
      }
    }
    
    .nav_panel 
    {
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 100%;
      top: 0;
      background: $FNW_BACKGROUND;
    }
      
    .nav_panel.pushed
    {
      left: 0;
    }
  }
}

#header_old
{
  $FNW_HEADER_HEIGHT: 50px;

  background: url("/images/header_background.png") $FNW_DARK_GRAY;
  border-bottom: 1px solid #FFFFFF;
  
  #logo
  {
    height: $FNW_HEADER_HEIGHT;
    text-align: center; 
    /*font-family:"Oswald", Helvetica, Arial, sans-serif;*/
    font-size: 25pt;
    text-shadow: 0px 0px 5px #232930;
    line-height: $FNW_HEADER_HEIGHT; 
    
    a
    {
      color: $FNW_HEADER;
      text-decoration: none;
    }
  }
  
  #nav_OLD
  {
    margin-top: $FNW_HEADER_HEIGHT - 20px;
    text-align:right;
    padding-bottom: 5px;
  }
  
  #admin_OLD
  {
    text-align: center;
    margin-top: 3px;
    border-top: 1px dashed $FNW_NAV_TEXT;
  }
  
  #nav_OLD, #admin_OLD
  {
    a
    {
      /*font-family:"Oswald", Helvetica, Arial, sans-serif;*/
      font-size: 10pt;
      text-decoration:none;
      color: $FNW_NAV_TEXT;
      text-shadow: 0px 0px 5px #232930;
    }
    
    a:hover
    {
      color: $FNW_BLUE;
    }
  }
}

#body_old
{
  #searchbox
  {
    background-color: $FNW_BACKGROUND;
    overflow:hidden;
  }
  
  #content
  {
    $CONTENT_PADDING_WIDTH: 45px;
    font-size: 10pt;
    line-height: 1.5;
    background: $FNW_CONTENT_BACKGROUND;
    
    h1, h2, h3, h4
    {
      /*font-family:"Oswald", Helvetica, Arial, sans-serif*/
    }
    
    h1
    {
      font-size: 18pt;
      color: $FNW_BLUE;
    }
    
    h2
    {
      font-size: 12pt;
      color: $FNW_BLUE;
    }
    
    h3
    {
      font-size: 10pt;
      color: $FNW_BLUE;
    }
    
    p
    {
      margin-top: 0.75em;
    } 
    
    p.collapse_up
    {
      margin-top: 0;
    }
    
    strong
    {
      font-weight: bold;
    }
    
    a
    {
      color: $FNW_TEXT;
    }
      
    a:hover
    {
      text-decoration: none;
    }
    
    a.address
    {
      text-decoration: none;
    }
    
    a.address:hover
    {
      text-decoration: underline;
    }
    
    .address:before, 
    .status_available:before, 
    .status_unavailable:before, 
    .status_unknown:before, 
    .status_warning:before, 
    .language:before, 
    .investigation p:first-child strong:before, 
    .referral:before, 
    .red_flag p:first-child strong:before, 
    .hospital:before, 
    .clinic:before
    {
      font-family: "Icon";
      color: $FNW_BLUE;
      font-size: 12pt;
      display: inline-block;
      margin-left: -$CONTENT_PADDING_WIDTH;
      width: $CONTENT_PADDING_WIDTH;
      text-align: center;
      padding: 0;
    }
    
    .address:before
    {
      content: "\002709";
    }
    
    .status_available:before
    {
      content: "\002713";
    }
    
    .status_unavailable:before
    {
      content: "\002717";
    }
    
    .status_unknown:before
    {
      content: "?";
    }
    
    .status_warning:before
    {
      content: "!";
    }
    
    .language:before
    {
      content: "\00e007";
    }
    
    .investigation p:first-child strong:before
    {
      content: "\00e055";
    }
    
    .investigation p:first-child
    {
      margin-top: 0.75em;
    }
    
    .referral:before
    {
      content: "\00e000";
    }
    
    .red_flag p:first-child strong:before
    {
      content: "\002691";
    }
    
    .red_flag p:first-child
    {
      margin-top: 0.75em;
    }
    
    .hospital:before
    {
      content: "\002795";
    }
    
    .clinic:before
    {
      content: "\002302";
    }
    
    .admin
    {
      border-top: 1px dashed $FNW_DARK_GRAY;
      padding-top: 3px;
      
      color: $FNW_RED;
      
      a
      {
        color: inherit;
      }
    }
  }
}
