@import "_globals";

[class^="icon-"]:before, [class*=" icon-"]:before 
{
  font-size: 15px;
}

[class^="icon-small"]:before, [class*=" icon-small"]:before 
{
  font-size: 10px;
}

[class^="icon-"]:hover:before, [class*=" icon-"]:hover:before 
{
  text-decoration: none;
}

.btn-mini
{
  [class^="icon-"]:before, [class*=" icon-"]:before 
  {
    font-size: 12px;
  }
} 

.icon-blue {
  color: $FNW_BLUE;
}

.icon-red {
  color: $FNW_RED;
}

.icon-green {
  color: $FNW_GREEN;
}

.icon-orange {
  color: $FNW_ORANGE;
}

.icon-text {
  color: $FNW_TEXT;
}

#front .icon-text {
  color: $FNW_MID_GRAY;
}

.icon-mid-gray {
  color: $FNW_MID_GRAY;
}

.icon-dark-gray {
  color: $FNW_DARK_GRAY;
}

.icon-light-blue {
  color: $FNW_LIGHT_BLUE;
}

.icon-disabled {
  color: $FNW_DISABLED_TEXT;
}

.review:before,
.change_name:before,
.change_email:before,
.change_password:before,
.logout:before,
.history:before,
.stats:before,
{
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  display: inline-block;
  text-decoration: inherit;
  width: $FNW_ICON_WIDTH;
}

.dropdown-menu li > a:before
{
  color: $FNW_TEXT;
  margin-left: 0;
  width: 24px;
}

.dropdown-menu li:hover > a:before
{
  color: $FNW_BLUE;
}

.dropdown-menu li.nav-header:before
{
  color: $FNW_BLUE;
}

.review:before
{
  content: "\f039";
}

.change_name:before
{
  content: "\f007";
}

.change_email:before
{
  content: "\f003";
}

.change_password:before
{
  content: "\f084";
}

.logout:before
{
  content: "\f011";
}

.history:before
{
  content: "\f07c";
}

.stats:before
{
  content: "\f080";
}

.arrow-left-after:after,
.arrow-right-after:after
{
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  float: right;
}

.arrow-left-after:after
{
  content: "\f0a8";
}

.arrow-right-after:after
{
  content: "\f0a9";
}

