@import "_globals";

$FNW_STATUS_INDENT: 40px;    

.icon-blue {
  background-image: url(/img/glyphicons-halflings-blue.png);
}

.icon-red {
  background-image: url(/img/glyphicons-halflings-red.png);
}

.icon-green {
  background-image: url(/img/glyphicons-halflings-green.png);
}

.icon-orange {
  background-image: url(/img/glyphicons-halflings-orange.png);
}

.icon-text {
  background-image: url(/img/glyphicons-halflings-text.png);
}

.specialty a:first-child:before, 
.address:before, 
.status_available:before, 
.status_unavailable:before, 
.status_unknown:before, 
.status_warning:before,
.language:before, 
.investigation p:first-child strong:before, 
.referral:before, 
.red_flag p:first-child strong:before, 
.hospital:before, 
.clinic:before,
.attendance:before,
.control:before
{
  margin-left: -($FNW_STATUS_INDENT + 14px)/2;
  margin-right: ($FNW_STATUS_INDENT - 14px)/2;
  display: inline-block;
  width: 14px;
  height: 14px;
  background-position: 14px 14px;
  background-repeat: no-repeat;
  background-image: url(/img/glyphicons-halflings-blue.png);
  content: "\0000a0";
}

.specialty a:first-child:before
{
  background-position: -48px -48px;
}

.address:before
{
  background-position: -72px 0;
}

.language:before
{
  background-position: -240px -120px;
}

.investigation p:first-child strong:before
{
  background-position: -360px -48px;
}

.investigation p:first-child
{
  margin-top: 0.75em;
}

.referral:before
{
  background-position: -24px -24px;
}

.red_flag p:first-child strong:before
{
  background-image: url(/img/glyphicons-halflings-red.png);
  background-position: -312px -24px;
}
    
.hospital:before
{
  background-position: -408px -96px;
}

.clinic:before
{
  background-position: 0 -24px;
}

.attendance:before
{
  background-position: -168px 0;
}

.control:before
{
  background-position: 0 -72px;
}

.status_available:before
{
  background-image: url(/img/glyphicons-halflings-green.png);
  background-position: -288px 0;
}

.status_unavailable:before
{
  background-image: url(/img/glyphicons-halflings-red.png);
  background-position: -312px 0;
}

.status_unknown:before
{
  background-image: url(/img/glyphicons-halflings-text.png);
  background-position: -96px -96px;
}

.status_warning:before
{
  background-image: url(/img/glyphicons-halflings-orange.png);
  background-position: 0 -120px;
}

