@import "_globals";

[class^="icon-"]:before, [class*=" icon-"]:before 
{
  font-size: 15px;
}

[class^="icon-small"]:before, [class*=" icon-small"]:before 
{
  font-size: 12px;
}

[class^="icon-"]:hover:before, [class*=" icon-"]:hover:before 
{
  text-decoration: none;
}

.btn-mini
{
  [class^="icon-"]:before, [class*=" icon-"]:before 
  {
    font-size: 12px;
  }
}

$FNW_STATUS_INDENT: 40px;  
$FNW_ICON_WIDTH: 18px;  

.icon-blue {
  color: $FNW_BLUE;
}

.icon-red {
  color: $FNW_RED;
}

.icon-green {
  color: $FNW_GREEN;
}

.icon-orange {
  color: $FNW_ORANGE;
}

.icon-text {
  color: $FNW_TEXT;
}

.icon-mid-gray {
  color: $FNW_MID_GRAY;
}

.icon-dark-gray {
  color: $FNW_DARK_GRAY;
}

.icon-light-blue {
  color: $FNW_LIGHT_BLUE;
}

.icon-disabled {
  color: $FNW_DISABLED_TEXT;
}

.specialty:before, 
.specialist:before, .user:before,
.address:before, .office:before,
.status_available:before, 
.status_unavailable:before, 
.status_unknown:before, 
.status_warning:before,
.status_external:before,
.status_blank:before,
.language:before, 
.procedure:before,
.referral:before, 
.urgent_referral:before, 
.hospital:before,
.association:before,
.clinic:before,
.review:before,
.feedback:before,
.change_password:before,
.history:before,
.stats:before,
.city:before, .province:before,
.healthcare_provider:before,
.patient_information:before,
.calculators:before,
.pearls:before,
.red_flags:before, 
.care_pathways:before,
.patient_education:before,
{
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  display: inline-block;
  text-decoration: inherit;
  width: $FNW_ICON_WIDTH;
}

#container h6:before
{
  width: 24px;
}

#container .status:before
{
  width: 24px;
}

#search_results
{
  .status_available:before, 
  .status_unavailable:before, 
  .status_unknown:before, 
  .status_warning:before, 
  .status_external:before
  {
    margin-left: -($FNW_STATUS_INDENT + $FNW_ICON_WIDTH)/2;
    margin-right: ($FNW_STATUS_INDENT - $FNW_ICON_WIDTH)/2;
  }
}

.dropdown-menu li > a:before
{
  color: $FNW_TEXT;
  margin-left: 0;
  width: 24px;
}

.dropdown-menu li:hover > a:before
{
  color: #FFF;
}

.dropdown-menu li.nav-header:before
{
  color: $FNW_BLUE;
}

.specialty:before
{
  content: "\f02d";
}

.specialist:before
{
  content: "\f200";
}

.user:before
{
  content: "\f007";
}

.address:before, .office:before
{
  content: "\f041";
}

.language:before
{
  content: "\f086";
}

.procedure:before
{
  content: "\f0ca";
}

.investigation p:first-child
{
  margin-top: 0.75em;
}

.referral:before
{
  content: "\f016";
}

.urgent_referral:before
{
  color: $FNW_RED;
  content: "\f024";
}
    
.hospital:before,
{
  content: "\f067";
}
    
.association:before
{
  content: "\f07e";
}

.clinic:before
{
  content: "\f015";
}

.review:before
{
  content: "\f039";
}

.feedback:before
{
  content: "\f0a1";
}

.change_password:before
{
  content: "\f084";
}

.history:before
{
  content: "\f07c";
}

.stats:before
{
  content: "\f080";
}

.healthcare_provider:before
{
  content: "\f007";
}

.patient_information:before
{
  content: "\f05a";
}

.city:before, .province:before
{
  content: "\f041";
}

.status_available:before
{
  color: $FNW_GREEN;
  content: "\f00c";
}

.status_unavailable:before
{
  color: $FNW_RED;
  content: "\f00d";
}

.status_unknown:before
{
  color: $FNW_TEXT;
  content: "\f059";
}

.status_warning:before
{
  color: $FNW_ORANGE;
  content: "\f06a";
}

.status_external:before
{
  color: $FNW_BLUE;
  content: "\f08b";
}

.arrow-left-after:after,
.arrow-right-after:after
{
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  float: right;
}

.arrow-left-after:after
{
  content: "\f0a8";
}

.arrow-right-after:after
{
  content: "\f0a9";
}

.specialist:before,
.clinic:before,
.calculators:before,
.pearls:before,
.red_flags:before,
.care_pathways:before,
.patient_education:before
{
  margin-left: 0;
}

.calculators:before
{
  content: "\f00a";
}

.care_pathways:before
{
  content: "\f06c";
}

.pearls:before
{
  content: "\f005";
}

.red_flags:before
{
  content: "\f024";
}

.patient_education:before
{
  content: "\f02d";
}

