- set_page_specific_title @language.name

.tabbable
  #react_root--template

.content-wrapper

  %p.admin.btn-group
    - if can? :update, @language
      = link_to edit_language_path(@language),
        class: "btn" do
        %i.icon-pencil
        Edit Language
    - if can? :destroy, @language
      = link_to language_path(@language),
        data: { confirm: "Delete #{@language.name}?" },
        method: :delete,
        class: "btn" do
        %i.icon-trash
        Delete Language
