%h1
  Your latest notifications of Pathways news and resource updates:
- @notifications.each do |notification|
  =# notification.inspect

  / %div.notification
  /   =# link_to notification.owner.name, notification.owner if notification.owner
  /   added __ to
  /   =# link_to notification.trackable.title, notification.trackable

  .notification
    %p
      %span{:class=> "muted"}= "#{time_ago_in_words(notification.trackable.created_at)} ago"

      = render_activity(notification, fallback: :default)
    %br