.content-wrapper
  %h2
    Your Latest Resource Update and News Update Notifications
  .pad10
  %p
  This list shows all News Update and Resource Update notifications you have received about the addition of new <strong>Content Items</strong> (Resources) and <strong>News Items</strong> to Pathways.  This list does not show latest changes to Specialists and Clinics.
  .pad10


  %p.nospace
    = link_to "Manage Notifications", subscriptions_path
    |
    = link_to "Go to Latest Specialist and Clinic Updates", latest_updates_path
  %hr
  = render partial: "notifications/list", locals: {notifications: @notifications}
