!!!
%html
  %head
    %title #{@user.name} has sent you a link to a medical resource

  %body{ style: "background-color: #f0ede8; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;" }
    .content-container{ style: "margin: 40px; margin-right: 10%; margin-left: 10%; padding: 20px; background-color: white" }
      = render @mail_body_partial

      %br
      %p
        Regards,

      %p
        The Pathways team.
      %p{ style: "background-color: #404040; padding: 3px; width: 142px" }
        %a#logo{ href: root_url }
          = image_tag attachments["logo_small.png"].url
