#section_aop

  %hr

  %h3 Areas of Practice
  = f.input :required_investigations,
    hint: "eg. XRs, MRIs, scans, blood work, etc."

  %hr{ style: "visibility:hidden" }

  %h4 Pertinent Areas of Practice/Expertise

  .content
    = procedure_specializable_form(@clinic)
  %hr{ style: "visibility:hidden" }

  = f.input :not_performed, as: :text
