- if @review_item.present?
  :javascript
    // pass variables to the review script
    window.pathways = window.pathways || {};
    (function( formOverlayConfig ) {
      formOverlayConfig.overlayChanges = true;
      formOverlayConfig.baseReviewItem =
        #{@review_item.transformed_base_object(@clinic) || 'null'};
      formOverlayConfig.reviewItem =
        #{@review_item.transformed_review_object(@clinic) || 'null'};
      formOverlayConfig.interactionType = "#{@form_modifier.interaction_type.to_s}";
      formOverlayConfig.recordKey = "clinic";
      formOverlayConfig.reviewId = #{@review_item.id};
    }( window.pathways.formOverlayConfig = {} ));

:javascript
  $(document).ready(function(){
    if(window.pathways.formOverlayConfig && window.pathways.formOverlayConfig.overlayChanges) {
      window.
        pathways.
        profileForms.
        overlayFormDatasets(window.pathways.formOverlayConfig);

      window.
        pathways.
        profileForms.
        highlightNewNote(window.pathways.formOverlayConfig);
    }

    window.pathways.profileForms.emphasizeLocationTabs();
    window.pathways.profileForms.stashPreEditForm();
    $(".chzn-select").chosen()
    window.pathways.profileForms.setupVisibilityToggles.clinic();

    document.getElementById("hiding-container").className =
      document.
        getElementById("hiding-container").
        className.
        replace("hidden", "").
        trim();
  });
