- # (user)
%td.admin
  - if can? :update, user
    = link_to edit_user_path(user),
      class: "btn btn-mini stacked-button" do
      %i.icon-pencil
      %span= " Edit"
  - if can? :view_history, user
    = history_button(user)
