%h2 Terms of Use

%p.space.no_indent These Terms of Use (the “Terms”) are a legal agreement between you, on your own behalf or, if applicable, on behalf of your organization. You or your organization is collectively referred to as “you” and the Fraser Northwest Division of Family Practice Society as “FNWDFP”.

%p.space.no_indent{:style => "border: 1px solid #000; padding: 5px;"} YOU MAY NOT COPY OR OTHERWISE USE PATHWAYS AND/OR THE CONTENT (OR ANY PORTION THEREOF) WITHOUT AGREEING TO THESE TERMS.  IF YOU COPY OR OTHERWISE USE PATHWAYS AND/OR THE CONTENT (OR ANY PORTION THEREOF) YOU ARE DEEMED TO HAVE AGREED ON YOUR BEHALF OR ON BEHALF OF YOUR ORGANIZATION TO BE BOUND BY THESE TERMS.

%p.space.no_indent Pathways is a web based resource for the use of physicians, their staff/ teams, and any other authorized health care providers in order to facilitate optimal, efficient specialist and clinic referrals. For the purpose of these Terms of Use Pathways consists of the current running instance of Pathways and the information contained within Pathways. A significant portion of the Pathways source code is governed under a GPL.v3 open source license.

%p.space.no_indent
  The Pathways website, located at
  %a{:href => "http://www.pathwaysbc.ca"} http://www.pathwaysbc.ca
  , contains information about medical specialists and clinics in selected areas of BC as well as physician and patient resources (the “Content”). The number of areas for which specialist and clinic data is available is growing as more divisions adopt Pathways and add their area’s information to the website.

%p.space.no_indent
  %b Terms of Use

%ol

  %li If Pathways or these Terms are modified, your continued use of Pathways will constitute your acceptance of Pathways modifications and your agreement to be bound by the modified Terms. The current Terms will be posted on the Pathways website. To stay informed of any changes, please review the most current version of these Terms on the website. Your license to use Pathways depends upon your agreement to be bound by these Terms and any modification to these Terms. If you do not agree to be bound by these Terms, you may not use Pathways.

  %li Pathways is proprietary to FNWDFP.  Subject to the your acceptance of these Terms, FNWDFP grants you a non-transferable, non-exclusive, limited license (the “License”) to use Pathways for your bona fide purposes with no right to sublicense. Certain third party code may be provided with Pathways. License terms accompanying such third party code will govern its use. FNWDFP reserves all rights not explicitly granted herein.

  %li All Pathways users shall sign in with the userid and password assigned to the user’s office or to them personally. Users shall not share or disclose user names and passwords outside of the user’s office. If a user leaves an office with a shared userid and password, the office shall change the password. If a user leaves an office where each employee has their own unique userid and password, the office shall request the Pathways Administrator to deactivate his/her userid.

  %li You acknowledge and agree that FNWDFP makes the Content available through Pathways as a convenience to you. The Content is for informational purposes only. The Content is not intended to be a substitute for professional medical advice, diagnosis, or treatment. FNWDFP does not recommend or endorse any specific tests, physicians, products, procedures, opinions, or other information that may be mentioned in the Content. Reliance on any information provided by FNWDFP in the Content is solely at your own risk. You agree to use your professional judgment in using the Content including, without limitation, making any of the Content available to your patients.

  %li The referral information posted on Pathways if for the sole use of physicians, their staff/teams and any other authorized health care providers to facilitate patient referrals and may not be copied for any other purpose. Only the referral information provided by using the ‘Print Information for Patient’ button, or a list of physicians accepting new patients, if provided, may copied for the patient. You may not under any circumstances copy or disclose specialist direct lines, fax numbers, and wait time information outside your office.

  %p.space.no_indent Userid e-mail addresses and private medical office assistant e-mail addresses are collected solely for Pathways administrative purposes and will never be published or shared.

  %li Specialists and clinics are responsible for periodically reviewing the Content about their practices/ clinics, with the goal of consistently keeping this Content complete and accurate.

  %li Content relating to specialist and clinic information, including wait times, has been provided by the specialist/ clinic offices themselves. However, the Pathways user community is encouraged to send the Pathways Administrator feedback when posted Content appears to be inaccurate. Feedback will be investigated and Pathways updated as FNWDFP deems appropriate. Receiving user input is a key element in keeping Pathways current.

  %p.space.no_indent NOTE: Unless otherwise specified, wait times represent best estimates for an average non-urgent referral.

  %li You may submit information to be included as part of the Content. You agree to only submit materials that you have created yourself or that you have all rights to transmit and license and which do not violate any intellectual property rights, privacy or other rights of any other person.  You agree that you will not submit any materials that contain health information about any individual. Submission of images or video of any person without their express consent and permission is prohibited.  FNWDFP reserves the right, in its sole and unfettered discretion, to approve or reject any materials submitted for inclusion in the Content and remove any Content from Pathways at any time.

  %li If you no longer wish some or all of the Content about yourself or your practice or clinic to be posted on Pathways please contact the Pathways Administrator in order to have it removed.

  %li Content that is a patient resource can be shared with patients at the discretion of their physician. If Content that is a patient resource is emailed to a patient, physicians need to inform their patient that their email address will be used for the sole purpose of sending them the above Content and thereafter will not be retained in Pathways. Physicians should also seek patient consent that s/he is comfortable with the patient resource going to a shared email address, should this be the case.

  %li Pathways may at its discretion make use of anonymized aggregate data from the Pathways system for research and analysis purposes. Note that no personalized information of any kind is used in such activity.

  %li FNWDFP may permanently or temporarily stop providing, or may modify Pathways, any feature or Content included in Pathways, or the availability of Pathways and/or Content on any particular device, at any time and without notice to you.  FNWDFP may immediately terminate your License should a third party make an intellectual property infringement claim relating to Pathways and/or the Content.

  %li You can terminate the License at any time by advising FNWDFP of your intention to terminate your use of Pathways. FNWDFP reserves the right to terminate your License immediately for any reason by providing you with a written termination notice. Upon termination of the License you shall immediately cease any and all use of Pathways.

  %li
    You agree not to:

    %ul.letter-marker.outside-marker

      %li Use, copy, republish or distribute Pathways, or cause or permit any person to use, copy, republish or distribute Pathways, except as expressly agreed to by FNWDFP
      %li Attempt to transfer your License to Pathways, in whole or in part, to any other person, or
      %li Except to the extent that these restrictions are void under applicable law, directly or indirectly attempt in any way to rewrite, reorganize, reproduce, decompile, disassemble, reverse engineer or translate Pathways, create derivative works thereof, or circumvent any usage or other restrictions imposed by FNWDFP.

  %li
    You shall defend, indemnify and save FNWDFP and its respective directors, officers, employees, agents, affiliates, members or any combination thereof harmless from any claims, costs (including settlement and legal or other professional fees on a solicitor and own client basis), damages, expenses, losses, and liability arising out of or relating to, either directly or indirectly:

    %ul.letter-marker.outside-marker

      %li Your use of Pathways and/or the Content
      %li Your violation or breach of these Terms
      %li Your violation of any third party right, including any intellectual property right
      %li Your violation of the law of any relevant jurisdiction, or
      %li Any claim that your use of Pathways and/or Content caused damage or harm to any person including, without limitation, personal injury or death.

  %p.space.no_indent This indemnity obligation will survive the termination or expiration of your use of Pathways and these Terms.

  %li YOU AGREE THAT YOUR USE OF PATHWAYS AND CONTENT IS AT YOUR SOLE RISK AND THAT PATHWAYS AND CONTENT IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. FNWDFP, PARTNERS AND THEIR RESPECTIVE AFFILIATES EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFORNGEMENT. IN PARTICULAR, FNWDFP, ITS PARTNERS AND THEIR RESPECTIVE AFFILIATES MAKE NO WARRANTY THAT (A) PATHWAYS AND/OR CONTENT WILL MEET YOUR REQUIREMENTS; (B) YOUR USE OF PATHWAYS AND/OR CONTENT WILL BE TIMELY, UNINTERRUPTED, SECURE OR ERROR-FREE; (C) ANY INFORMATION OBTAINED BY YOU AS A RESULT OF PATHWAYS AND/OR CONTENT WILL BE ACCURATE OR RELIABLE; AND (D) ANY DEFECTS OR ERRORS IN PATHWAYS AND/OR CONTENT WILL BE CORRECTED.

  %p.space.no_indent ANY CONTENT DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF PATHWAYS IS ACCESSED AT YOUR OWN DISCRETION AND RISK, AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE OR HARM THAT RESULTS FROM THE DOWNLOAD AND USE OF ANY SUCH CONTENT. YOU FURTHER ACKNOWLEDGE THAT THE CONTENT IS NOT INTENDED OR SUITABLE FOR USE IN ALL INSTANCES THAT COULD LEAD TO DEATH, PERSONAL INJURY, OR SEVERE PHYSICAL DAMAGE.

  %li TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT SHALL FNWDFP BE LIABLE FOR ANY DAMAGES SUFFERED OR INCURRED BY YOU OR ANY OTHER PERSON OR ENTITY INCLUDING, WITHOUT LIMITATION, ANY SPECIAL, INCIDENTAL, INDIRECT, DIRECT, PUNITIVE OR CONSEQUENTIAL DAMAGES WHATSOEVER (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF BUSINESS PROFITS, LOSS OF REVENUE, BUSINESS INTERRUPTION, LOSS OF BUSINESS INFORMATION, OR ANY OTHER PECUNIARY LOSS) ARISING OUT OF THE USE OF OR INABILITY TO USE PATHWAYS OR THE CONTENT, EVEN IF FNWDFP HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

  %p.space.no_indent Please note that some jurisdictions do not allow the type of limitation listed above, so some of these limitations may not apply to you.

  %li YOU ACKNOWLEDGE AND AGREE THAT THE LIMITATIONS OF LIABILITY SET OUT HEREIN ARE FAIR AND REASONABLE IN THE CIRCUMSTANCES OF THESE TERMS AND THAT FNWDFP WOULD NOT HAVE PROVIDED YOU ACCESS TO OR USE OF PATHWAYS OR THE CONTENT BUT FOR YOUR AGREEMENT TO LIMIT FNWDFP’ LIABILITY IN THE MANNER, AND TO THE EXTENT, PROVIDED FOR HEREIN.

  %li FNWDFP is located within the Province of British Columbia, Canada. These Terms will be governed by and construed in accordance with the laws of the Province of British Columbia and the laws of Canada applicable therein. The parties agree that the Courts of the Province of British Columbia shall have exclusive jurisdiction to hear and make any judicial determination on any issue arising with respect to these Terms.

  %li These Terms will be for the benefit of and binding upon your heirs, executors, representatives, administrators, successors and permitted assigns.

  %li These Terms constitute the entire understanding between the parties hereto and supersede all previous communications, representations and understandings, oral or written, between the parties, with respect to the subject matter of these Terms.
