%h2 Terms and Conditions

%ul.letter-marker.outside-marker

  %li Pathways is a web based resource for the use of specialists, general practitioners (GPs) and their medical office assistants (MOAs) in order to facilitate optimal, efficient specialist and clinic referrals.

  %li The Pathways Website contains detailed information about specialists and clinics located in selected areas of BC. It is anticipated that the number of areas for which specialist and clinic data is available will grow as more divisions adopt Pathways and add their area’s information to the site.

  %li All persons using the Pathways Website (Users) agree to the terms and conditions outlined below:

  %ol
  
    %li Users shall sign in with the user ID and password assigned to them personally or to the User’s office.

    %li Users shall not share or disclose user names and passwords outside of the User’s office.

    %li Specialists and clinics that provide practice and personal information, including their direct line, fax number, or pager number, consent to the collection, use and publication of this information on the Pathways Website.

    %p.space.no_indent NOTE: User ID e-mail addresses and private MOA e-mail addresses are collected solely for Pathways administrative purposes and will never be published or shared.

    %li If a specialist and clinic has questions or no longer wishes some or all of his/her information to be posted on the Pathways Website, s/he must contact the Pathways Administrator.

    %li The referral information posted on the Pathways Website is for the sole use of GPs, MOAs and Specialists to facilitate patient referrals and may not be copied or used for any other purpose. Only the specialist and clinic information provided by using the 'Print Information for Patient' button may be copied for the patient. Users may not under any circumstances copy or disclose specialist direct lines, fax numbers, and wait time information outside the User’s office.

    %li Divisions authorized to enter data into Pathways will take reasonable steps to ensure that the contents of the Pathways Website, including referral information, decisions tools, care pathology and patient education materials are represented accurately. However, while every effort has been made to ensure accuracy, all information should be verified. Users understand and agree that Pathways makes no representations as to the accuracy or completeness of any information contained on the Pathways Website, nor the medical competence or clinical abilities of the specialists.

    %li Specialist and clinic information, including wait times*, has been provided by the specialist/ clinic offices themselves. However, we encourage the Pathways user community to send the Pathways Administrator feedback when posted information appears to be inaccurate. Feedback will be investigated and the website updated as appropriate. Receiving user input is a key element in keeping the Pathways site current.

    %p.space.no_indent NOTE: Unless otherwise specified, wait times represent best estimates for an average non-urgent referral.

    %li The Physician Resources, Pearls, Red Flags and Calculators provided on Pathways have been selected to provide guidance to family physicians. This content is not for access or use by patients or non-registered health professionals. These resources, decision tools and guidelines are suggested guidance only; while using them physicians must exercise their own clinical judgment and pertinent clinical data when treating patients. Users shall not rely on the Pathways Website for diagnosis or treatment purposes.
    
    %li Patient Resources can be shared with patients at the discretion of their physician. If a patient resource is emailed to a patient, physicians need to inform their patient that their email address will be used for the sole purpose of sending them the above resource and thereafter will not be retained on the Pathways website. 