%h2 Terms and Conditions

%ul.letter-marker.outside-marker

  %li Pathways is a web based resource (Pathways Website) that specialists, general practitioners (GPs) and their medical office assistants (MOAs) can use to make optimal physician specialist (Specialists) and clinic referrals. The Pathways Website has been built by the Fraser Northwest Division of Family Practice in response to member GPs’ number one request that this Division assist them in making appropriate and efficient specialist referrals.

  %li The Pathways Website contains detailed information about a number of physician specialties including approximately 650 Specialists and 150 clinics located in Burnaby, New Westminster, the Tri-Cities, Maple Ridge, Langley, Surrey, White Rock and in selected instances, Vancouver. 

  %li By accessing Pathways Website, all persons using the Pathways Website (Users) agree to the terms and conditions outlined below: 

  %ol
  
    %li Users shall sign in with the user ID and password assigned to them personally or to their GP’s or specialist’s practice. Users shall not share or disclose user names and passwords outside of the User’s office.

    %li Specialists and clinics who provide information to the Pathways project, including but not limited to their general office information, office address, practice, wait times and referral needs, areas of practice, contact information such as direct line telephone number and fax number, pager number and public email address, consent to the collection, use and publication of this information on the Pathways Website for the use by specialists, GPs and MOAs for Specialist referrals. Private e-mail addresses collected both as user IDs and as senior MOA contact details are solely for the use for Pathways administrative contact, and will never be published or shared. If a specialist or clinic no longer wishes their information to be posted on the Pathways Website, they must contact the Pathways administrator to have their information removed.

    %li The information collected and posted on the Specialist and Clinic portions of the Pathways Website is for the sole use of GPs, MOAs and specialists for specialist and clinic referrals and may not be copied or used for any other purpose. Only the elements of the Specialist or Clinic information posted on the Pathways website obtained by using the ‘Print Information for Patient’ button may be shared with the patient, specifically for the purpose of referral. Users acknowledge and agree that all other Specialist and Clinic information, including but not limited to wait time information, fax numbers, and direct numbers may not under any circumstances be copied or disclosed to patients, nor disclosed outside the User’s office.

    %li Pathways provides Specialist and Clinic contact and referral information Pathways will take reasonable steps to ensure that the information provided by specialists and clinics, the referral information and the contents of the Pathways Website, including decisions tools, care pathology and patient education materials are represented accurately on the Pathways Website; however Users understand and agree that Pathways makes no representations as to the accuracy or completeness of any information contained on the Pathways Website nor the medical competence or clinical abilities of the Specialists.

    %li Wait times estimates were provided by specialist offices and clinics and may vary significantly. We encourage the Pathways user community to send regular feedback when posted wait times or any other posted information is incorrect.

    %li Users shall not rely on the Pathways Website for diagnosis or treatment purposes. The content of the Pathways website has been selected to provide guidance particularly for family physicians and also contains patient information resources for physicians to print or e-mail to patients. The content of this site is not for access or use by patients or non-registered health professionals. The Care Pathways, Decision Tools and guidelines on the Pathways site are suggested guidance only, and while using them you must exercise your own clinical judgement and pertinent clinical data when treating your patient.

    %li The content on this site designated with "indicates content from our Shared Care initiative" were developed by work within Fraser Northwest Division of family practice for the care and management of patients within the Fraser Northwest Division of family practice and have been developed jointly by primary and secondary care clinicians.

    %li This site is intended to be flexible and frequently updated. Users are strongly encouraged to contribute updates. While every effort has been made to ensure accuracy, all information should be verified.