- set_page_specific_title "Change your password"

.content-wrapper

  %h2 Change your password

  %p
    Please enter a new password. Please note that you will need to log in
    again with your new password after changing it.

  = simple_form_for @user,
    url: { controller: "users", action: "update_password" },
    html: { class: "form-horizontal" } do |f|

    = f.input :password,
      label: "New password",
      hint: "Your password must be at least 8 characters long, and include at least one number and one letter."
    = f.input :password_confirmation, label: "Confirm your new password"

    .form-actions
      = f.button :submit, "Set new password", class: "btn btn-primary"
      %a.btn.btn-danger{ href: root_url } Cancel
