-title "Change your password"

.content-wrapper

  %h2 Change your password

  = simple_form_for @user, :url => {:controller => "users", :action => "update_password"}, :html => { :class => "form-horizontal" } do |f|
    
    = f.input :password, :label => "New password", :hint => "Must be at least six characters long"
    = f.input :password_confirmation, :label => "Confirm your new password"
    
    .form-actions
      = f.button :submit, "Set password", :class => "btn btn-primary"
      %a.btn.btn-danger.ajax{"href" => root_url} Cancel
