- title "Users Created"

.content-wrapper

  %h2 Users Created

  %table.table
    %tr
      %th Name
      %th Access Key
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.token


