- set_page_specific_title "Update of #{@clinic.name} complete"

.content-wrapper

  %h2 Update complete

  %p.space.no_indent
    Thank you for your updates to #{@clinic.name}. We will review these
    changes, and they will be available on Pathways in the near future.

  - if current_user
    %p.space.no_indent
      In the meantime you may
      = link_to @clinic do
        return to #{@clinic.name}'s page.
