- set_page_specific_title "Thank you for your feedback"

.content-wrapper

  %h2 Thank you!

  %p.space.no_indent= "Thank you for providing your feedback  on #{@feedback_item.item.class == ScItem ? @feedback_item.item.title : @feedback_item.item.name}. Your contributions help make Pathways a valuable resource for the community."

  %p.space.no_indent We will review your feedback in the near future and take action as necessary.
