.content-wrapper

  %h2 Thank you!
  
  %p.space.no_indent= "Thank you for providing your feedback  on #{@feedback_item.item.name}. Your contributions help make Pathways a valuable resource for the community."
  
  %p.space.no_indent We will review your feedback in the near future and take action as necessary.
