- set_page_specific_title "#{NewsItem::TYPE_HASH[params[:type].to_i]}s Archive"

.content-wrapper#front

  %h2= "#{NewsItem::TYPE_HASH[params[:type].to_i]}s Archive"

  - NewsItem.type_in_divisions(params[:type].to_i, current_user.as_divisions).each do |item|
    = render_news_item(item)

    %hr
