- set_page_specific_title "News Items"

.content-wrapper

  %h2{style: "margin-bottom: 5px"}
    ="News Items for #{@division.name}"

  #newsitem-react-container
  :javascript
    window.pathways.bootstrapNewsItems("newsitem-react-container", #{@props.to_json})
