.content-wrapper

  %h2 Activity

  = will_paginate @versions, :renderer => PathwaysPaginationHelper::LinkRenderer, :inner_window => 2, :outer_window => 2

  = render 'list'

  = will_paginate @versions, :renderer => PathwaysPaginationHelper::LinkRenderer, :inner_window => 2, :outer_window => 2