- set_page_specific_title @hospital.name

.tabbable
  #react_root--template

.content-wrapper

  %p.admin.btn-group
    - if can? :update, @hospital
      = link_to edit_hospital_path(@hospital),
        class: "btn" do
        %i.icon-pencil
        Edit Hospital
    - if can? :destroy, @hospital
      = delete_button(hospital_path(@hospital), "Delete #{@hospital.name}?")
