%p.no-indent
  %strong
    Update Notifications
  %span
    have two types:
  %strong
    News Updates
  %span
    and
  %strong
    Content Item Updates
  %span
    = ", which are sent regularly to your email address when you create one " + |
      "below. By default, pathways administrators do not receive updates " + |
      "unless they create an update notification below. " + |
      "You can create as many update notifications as you want, " + |
      "customizing them to your needs." |
