%p
  %small
    This automated email was set up to send notifications #{interval.downcase} to your Pathways acccount.
    = link_to "Click here to customize your notification settings.", subscriptions_url