- if activity.trackable
  = link_to activity.trackable.division.name, activity.trackable.division if activity.trackable.division
  Division created a shared content category:
  = link_to activity.trackable.name, sc_category_url(activity.trackable)
- else
  A shared content category was created which has since been removed.