Shared Content Category was updated
- if activity.trackable
  by
  = link_to activity.trackable.division.name, activity.trackable.division if activity.trackable.division
  Division for
  = link_to activity.trackable.name, activity.trackable
- else
  which has since been removed.