$stacked-buttons-vertical-margin: 4px;

.stacked-button {
  display: block;
  margin-top: $stacked-buttons-vertical-margin;
  text-align: left;
  min-width: 80px;
}
.stacked-button:last-child {
  display: block;
  margin-bottom: $stacked-buttons-vertical-margin;
}

.inline-buttons {
  display: inline;
}

.button--right_margin {
  margin-right: 5px;
}

.button--mask_warning {
  color: #C09853;
  border: 1px solid #C09853;
  text-decoration: none;
  padding: 3px 8px;
  border-radius: 4px;
  margin-left: 5px;
  cursor: pointer;
  &:visited {
    color: #C09853;
  }
  &:hover {
    text-decoration: none;
  }
}
