#content {
  #container {
    .datatable__heading {
      -webkit-user-select: none;  /* Chrome all / Safari all */
      -moz-user-select: none;     /* Firefox all */
      -ms-user-select: none;      /* IE 10+ */
      user-select: none;
      cursor: pointer;
    }

    td {
      .issue_row__edit {
        visibility: hidden;
      }
    }

    td:hover {
      .issue_row__edit {
        visibility: visible;
      }
    }

    .table {
      tr.datatable__row {
        td.datatable__cell {
          padding-top: 8px;
          padding-bottom: 8px;
          vertical-align: top;
          height: auto;
        }
      }
    }

    .datatable__row.datatable__row--isSelected {
      background-color: #F3F8FC;
    }

    .well.datatable_row__expand_toggle {
      padding: 1px 5px;
      shadow: none;
      border: 1px solid hsla(0,0%,90%,1);
    }

    .datatable__row--isSelected {
      .datatable__profile_name {
        font-weight: bold;
      }
    }

    .table {
      .datatable__row {
        &:hover {
          td.datatable__cell {
            background-color: #f3f8fc;
          }
        }

        ul {
          list-style-type: disc;
          list-style-position: outside;
          padding-left: 20px;
          li {
            list-style-type: disc;
          }
        }
      }
    }
    .specialization_table__table_head--name {
      width: 30%;
    }

    .datatable__th--date_entered {
      width: 80px;
    }

    .datatable__th--date_completed {
      width: 100px;
    }
    @media (max-width: 767px) {
      .hide-when-reduced {
        display: none;
      }
      // override the existing solution
      .well.filter {
        .title {
          display: block;
        }
        display: block;
        position: static;
      }
      .span3.offsethalf.datatable-sidebar {
        margin-top: 0px;
      }

      .datatable__th--profiles--name {
        width: 60%;
      }

      .datatable__th--profiles--referrals {
        width: 10%;
      }

      .datatable__th--profiles--specialties {
        width: 10%;
      }

      .datatable__th--profiles--waittime {
        width: 10%;
      }

      .datatable__th--profiles--city {
        width: 10%;
      }

    }

    #icon_key i {
      margin-right: 5px;
    }

    .specialization_table__city_filter_pill {
      display: inline-block;
      padding: 8px 9px;
      margin-right: 3px;
      margin-bottom: 6px;
      background-color: #f0ede8;
      border-radius: 5px;
      color: #0088cc;

      &:hover {
        background-color: #a3d9f5;
      }
    }

    .datatable__th--profiles--name {
      width: 30%;
    }

    .datatable__th--profiles--referrals {
      width: 15%;
    }

    .datatable__th--profiles--specialties {
      width: 15%;
    }

    .datatable__th--profiles--waittime {
      width: 15%;
    }

    .datatable__th--profiles--city {
      width: 20%;
    }

    .datatable__th--content-items--subcategory {
      width: 90px;
    }

    .datatable__th--content-items--favorite {
      width: 15px;
    }

    .datatable__th--content-items--email {
      width: 15px;
    }

    .datatable__th--content-items--feedback {
      width: 15px;
    }
  }

  @media (max-width: 979px) {
    .specialization_table__filter_toggle {
      display: none;
    }
  }
}

#content #container .table tbody tr.hidden-from-users:hover td {
  background-color: transparent;
}
