#content {
  #container {

    .table {
      tr {
        td.datatable__cell {
          padding-top: 8px;
          padding-bottom: 8px;
          vertical-align: top;
          height: auto;
        }
      }
    }

    .datatable__row.datatable__row--isSelected {
      // background-color: #F3F8FC;
    }

    .well.datatable_row__expand_toggle {
      padding: 1px 5px;
      shadow: none;
      border: 1px solid hsla(0,0%,90%,1);
    }

    .datatable__row {

      .mini-profile__container {
        display: none;
      }

      .mini-profile {
        position: absolute;
        padding: 5px;
        left: 0px;
        width: calc(100% - 20px);
        padding-left: 10px;
        top: 8px;
        z-index: 1;
      }

      // taken from http://www.cssarrowplease.com/

      .mini-profile {
        background: #ffffff;
        border: 1px solid #cccccc;
      }
      .mini-profile:after, .mini-profile:before {
        bottom: 100%;
        left: 10px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      .mini-profile:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        border-width: 5px;
        margin-left: -5px;
      }
      .mini-profile:before {
        border-color: rgba(204, 204, 204, 0);
        border-bottom-color: #cccccc;
        border-width: 6px;
        margin-left: -6px;
      }

      // .mini-profile {
      //   background: #ffffff;
      //   border: 1px solid #cccccc;
      // }
      //
      // .mini-profile:after, .mini-profile:before {
      //   right: 100%;
      //   top: 50%;
      //   border: solid transparent;
      //   content: " ";
      //   height: 0;
      //   width: 0;
      //   position: absolute;
      //   pointer-events: none;
      // }
      //
      // .mini-profile:after {
      //   border-color: rgba(255, 255, 255, 0);
      //   border-right-color: #ffffff;
      //   border-width: 5px;
      //   top: 11px;
      //   // margin-top: -5px;
      // }
      // .mini-profile:before {
      //   border-color: rgba(204, 204, 204, 0);
      //   border-right-color: #cccccc;
      //   border-width: 6px;
      //   top: 10px;
      //   // margin-top: -6px;
      // }

      //

      .mini-profile__title {
        font-family: Bitter;
        font-size: 20px;
      }

      .mini-profile__item {
        color: #404040;
        margin-top: 5px;
      }
    }

    .datatable__row--isSelected {
      .datatable__referent_name {
        font-weight: bold;
      }
    }

    .datatable__referent_name:hover ~ .mini-profile__container {
      display: block;
    }
    .table {
      .datatable__row {
        &:hover {
          td.datatable__cell {
            background-color: #f3f8fc;
          }
        }

        ul {
          list-style-type: disc;
          list-style-position: outside;
          padding-left: 20px;
          li {
            list-style-type: disc;
          }
        }
      }
    }

    .specialization_table__table_head--name {
      width: 30%;
    }
    @media (max-width: 767px) {
      .hide-when-reduced {
        display: none;
      }
      // override the existing solution
      .well.filter {
        .title {
          display: block;
        }
        display: block;
        position: static;
      }
      .span3.offsethalf.datatable-sidebar {
        margin-top: 0px;
      }

      .specialization_table__table_head--name {
        width: 60%;
      }

      .specialization_table__th--referrals {
        width: 10%;
      }

      .specialization_table__th--specialties {
        width: 10%;
      }

      .specialization_table__th--waittime {
        width: 10%;
      }

      .specialization_table__th--city {
        width: 10%;
      }

    }

    #icon_key i {
      margin-right: 5px;
    }

    .specialization_table__city_filter_pill {
      display: inline-block;
      padding: 8px 9px;
      margin-right: 3px;
      margin-bottom: 6px;
      background-color: #f0ede8;
      border-radius: 5px;
      color: #0088cc;

      &:hover {
        background-color: #a3d9f5;
      }
    }

    .specialization_table__table_head--name {
      width: 30%;
    }

    .specialization_table__th--referrals {
      width: 15%;
    }

    .specialization_table__th--specialties {
      width: 15%;
    }

    .specialization_table__th--waittime {
      width: 15%;
    }

    .specialization_table__th--city {
      width: 20%;
    }

    .filter_table__th--subcategory {
      width: 90px;
    }

    .filter_table__th--icon {
      width: 15px;
    }
  }

  @media (max-width: 979px) {
    .specialization_table__filter_toggle {
      display: none;
    }
  }
}
