input.form__input--auto_width {
  width: auto;
  max-width: 40%;
}

textarea.form__input--auto_width {
  width: auto;
  max-width: 40%;
}

.form__wrapper--indented {
  margin-left: 30px;
}

.form__wrapper--double-indented {
  margin-left: 60px;
}
