#content #container {
  .latest_updates__update--editable {
    &:hover {
      background-color: #f3f8fc;
      .latest_updates__toggle {
        visibility: visible;
      }
    }
    .latest_updates__update_text {
      display: inline-block;
      width: calc(100% - 60px);
    }
  }

  .latest_updates__toggle {
    vertical-align: top;
    display: inline-block;
    width: 60px;
    visibility: hidden;
    text-align: right;
    text-decoration: none;
  }

}
