#livesearch {

  @media (max-width: 767px) {
    .livesearch__customize-container {
      display: none;
    }
  }

  .livesearch__customize-header {
    font-weight: bold;
    color: #424242;
    border-bottom: 1px dotted #a3d9f5;
  }

  .livesearch__inner-results-container {
    padding-top: 10px;
    position: relative;
  }

  .search_results {
    margin-top: 0px;
  }

  .livesearch__customize-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .livesearch__filter-group {
    margin-bottom: 10px;
  }

  .livesearch__close-button {
    font-size: 23px;
    cursor: pointer;
  }

  .livesearch__prefix {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    margin-top: 8px;
  }

  #livesearch__search-categories, #livesearch__search-scopes {
    float: none;
    padding: 0px;
    display: inline-block;


    li.livesearch__search-category, li.livesearch__search-scope {
      display: inline-block;
      border-left: 0px;
      width: auto;
      a {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        margin-right: 10px;
        color: rgb(0, 136, 204);
        text-shadow: none;
        display: inline-block;
        cursor: pointer;
        background-color: #f0ede8;
      }
      &.livesearch__search-category--selected, &.livesearch__search-scope--selected {
        a {
          background-color: #a3d9f5;
          color: #0088cc;
        }
      }
    }
  }

  input#search::-webkit-input-placeholder {
    font-family: "Helvetica Neue", "FontAwesome", Arial, sans-serif;
  }

  input#search::-moz-placeholder {
    font-family: "Helvetica Neue", "FontAwesome", Helvetica, Arial, sans-serif;
  }

  input#search:-ms-input-placeholder {
    font-family: "Helvetica Neue", "FontAwesome", Helvetica, Arial, sans-serif;
  }

  input#search:-moz-placeholder {
    font-family: "Helvetica Neue", "FontAwesome", Helvetica, Arial, sans-serif;
  }

  span.highlight {
    background-color: #ffd1b3;
  }
}

// This is a hack to get I.E. 10 to re-render the body after we call
// enable_page_scroll() in jquery.livesearch.css.
// I have no idea why it works.
body {
  border-bottom: 1px solid #F0EDE8;
}
