#content #container {
  .notes__line_item {
    margin-bottom: 3px;
  }
  .notes__index {
    margin-top: 10px;
  }
  textarea.notes__input {
    width: 400px;
  }
  .notes__note {
    margin-bottom: 20px;
  }
}
