.profiles_by_specialty__row {
  .profiles_by_specialty__faded_content {
    opacity: 0;
    cursor: default;
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
  }
}

.profiles_by_specialty__row:hover {
  .profiles_by_specialty__faded_content {
    opacity: 1;
  }
}
