#table_widget {
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    float: left;
    height: 516px;
    min-height: 1px;
    position: relative;
    width: 438.75px;
    perspective-origin: 219.375px 258px;
    transform-origin: 219.375px 258px;
    border: 0px none rgb(85, 85, 85);
    font: normal normal 300 normal 14px / 21px Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px 30px;
    outline: rgb(85, 85, 85) none 0px;
    padding: 0px 15px;
}
/*#DIV_1*/
 #table_widget__table {
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    width: 408.75px;
    perspective-origin: 204.375px 230.5px;
    transform-origin: 204.375px 230.5px;
    border: 0px none rgb(85, 85, 85);
    font: normal normal 300 normal 14px / 21px Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(85, 85, 85) none 0px;
}
/*#DIV_2*/
 #table_widget__title {
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    height: 41px;
    width: 408.75px;
    perspective-origin: 204.375px 20.5px;
    transform-origin: 204.375px 20.5px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px 4px 0 0;
    font: normal normal normal normal 18px / 19.8px Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px -1px;
    outline: rgb(85, 85, 85) none 0px;
    padding: 10px 15px;
    color: #55555;
}
/*#H4_3*/
 .table_widget__link {
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    display: block;
    height: 43px;
    position: relative;
    text-decoration: none;
    width: 408.75px;
    perspective-origin: 204.375px 21.5px;
    transform-origin: 204.375px 21.5px;
    border: 1px solid rgb(221, 221, 221);
    font: normal normal 300 normal 14px / 21px Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px -1px;
    outline: rgb(85, 85, 85) none 0px;
    padding: 10px 15px;
}

/*#A_4, #A_6, #A_8, #A_10, #A_12, #A_14, #A_16, #A_18, #A_20*/
 .table_widget__span {
    box-sizing: border-box;
    color: rgb(153, 153, 153);
    display: block;
    float: right;
    height: 21px;
    perspective-origin: 29.8281px 10.5px;
    transform-origin: 29.8281px 10.5px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal 300 normal 14px / 21px Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(153, 153, 153) none 0px;
}






 .table_widget__view_more {
    box-sizing: border-box;
    color: rgb(25, 151, 198);
    cursor: pointer;
    display: inline-block;
    height: 35px;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 115.547px;
    perspective-origin: 57.7656px 17.5px;
    transform-origin: 57.7656px 17.5px;
    border: 1px solid rgb(25, 151, 198);
    border-radius: 4px 4px 4px 4px;
    font: normal normal normal normal 14px / 21px Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(25, 151, 198) none 0px;
    padding: 6px 12px;
}
/*#A_24*/