#content #container {
  #teleservices-fields {
    width: 100%;
    margin-top: 20px;

    .teleservices-row__first-th {
      text-align: left;
      margin-left: 0px;
    }
    .teleservices-row__th {
      min-width: 106px;
      text-align: left;
      margin-left: 2px;
    }
    .teleservices-row__final-th {
      text-align: left;
      margin-left: 7px;
    }
    .teleservices-row__first-td {
      height: 40px;
      vertical-align: middle;
      margin-left: 0px;
    }
    .teleservices-row__input-td {
      min-width: 105px;
      height: 40px;
      vertical-align: middle;
      text-align: center;
      margin-left: 2px;
      padding-left: 2px;
    }
    .teleservices-row__final-input-td {
      min-width: 90px;
      height: 40px;
      vertical-align: middle;
      text-align: left;
      margin-left: 7px;
      padding-left: 3px;
    }

    .help-inline {
      clear: both;
      color: #f89406;
      padding-left: 0px;
    }

    .teleservices-row__input {
      margin-left: 0px;
    }

    .checkbox {
      padding-left: 0px;
      text-align: left;
    }
  }
}
