- set_page_specific_title "Unable to edit #{@specialist.name}"

.content-wrapper

  %h2 Unable to edit #{@specialist.name}

  %p.space.no_indent
    Sorry, another change for #{@specialist.name} is pending review.
    Please try again later.
