- Specialization.all.each do |specialization|
  %h3= specialization.name
  %h4= link_to "Add new Procedure", new_specialization_procedure_path(specialization)
  %ul
    - specialization.procedures.each do |procedure|
      %li= link_to procedure.name, procedure_path(procedure)

