- set_page_specific_title "#{@procedure.name}"

.tabbable
  #react_root--template

.content-wrapper
  %p.admin.btn-group
    - if can? :update, @procedure
      = link_to("<i class='icon-pencil'></i>".html_safe + " Edit Area of Practice", edit_procedure_path(@procedure), class: "btn ajax")
    - if can? :destroy, @procedure
      = link_to("<i class='icon-trash'></i>".html_safe + " Delete Area of Practice", @procedure, data: { confirm: "Delete #{@procedure.name}?" }, method: :delete, class: "btn")
