- set_page_specific_title "#{@procedure.name}"

.tabbable
  #react_root--template

.content-wrapper
  %p.admin.btn-group
    - if can? :update, @procedure
      = link_to edit_procedure_path(@procedure), class: "btn" do
        %i.icon-pencil
        Edit Area of Practice
    - if can? :destroy, @procedure
      = delete_button(@procedure, "Delete #{@procedure.name}?")
