/* Colours */

$FNW_BACKGROUND: #fefefe;
$FNW_NAV_BACKGROUND: #404040;
$FNW_LIGHT_GRAY: #e8f6f6;
$FNW_MID_GRAY: #DDD;
$FNW_DARK_GRAY: #666;
$FNW_GREEN: #1ddc3e;
$FNW_BLUE: #0088cc;
$FNW_LIGHT_BLUE: #addfff;
$FNW_RED: #C44D58;
$FNW_ORANGE: #F89406;
$FNW_TEXT: #424242;
$FNW_DISABLED_TEXT: #999;

/* Fonts */

/*
@font-face
{
  font-family: Icon;
  src: url('/fonts/iconic_fill.otf');
}

@font-face {
	font-family: 'League Gothic';
	src: url('/fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'), 
	     url('/fonts/League_Gothic-webfont.woff') format('woff'), 
	     url('/fonts/League_Gothic-webfont.ttf')  format('truetype'),
	     url('/fonts/League_Gothic-webfont.svg#League_Gothic') format('svg');
	}
*/