@import "_globals";

body
{
  margin: 2.5%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  border: 0;
}

p, h1, h2, h3, h4, h5, h6, img
{
  margin: 0;
  padding: 0;
}

p, input, textarea, #custom_patient_instructions_print, select
{
  font-size: 12pt;
  line-height: 15pt;
  margin-top: 6pt;
  color: $FNW_TEXT;
}

#custom_patient_instructions_print
{
  display: none;
}

p.indent
{
  margin-left: 15pt;
}

h1, h2, h3, h4, h5, h6
{
  font-weight: bold;
  color: $FNW_TEXT;
}

h2 
{
  font-size: 18pt;
  line-height: 27pt;
}

h3 
{
  font-size: 16pt;
  line-height: 21pt;
}

h5 
{
  font-size: 14pt;
  line-height: 18pt;
}

h6 
{
  margin-top: 18pt;
  font-size: 12pt;
  font-weight: bold;
  text-transform: uppercase;
}

img
{
  margin-top: 9pt;
}

.btn
{
  margin-top: 9pt;
  font-size: 12pt;
  display: block;
}

textarea
{
  width: 640px;
  height: 75px;
}

@media print
{
  .btn
  {
    display: none;
  }
  
  input[type='text']
  {
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid $FNW_TEXT;
    box-shadow: none;
  }
  
  textarea
  {
    display: none;
  }
  
  .empty
  {
    display: none !important;
  }

  #custom_patient_instructions_print
  {
    display: block;
    overflow: visible;
    white-space: pre;
    white-space: pre-wrap;
  }
  
  select
  {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    
    -webkit-box-shadow: none;
    box-shadow: none;
    
    -webkitpadding-end: 0;
    -webkitpadding-start: 0;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    background: none;
    border: none;
    border-bottom: 1px solid $FNW_TEXT;
      
    font-size: 10pt;
    line-height: 15pt;
    color: $FNW_TEXT;
  }
}