@import "_globals";

body
{
  margin: 5%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  border: 0;
}

p, h1, h2, h3, h4, h5, h6, img
{
  margin: 0;
  padding: 0;
}

p
{
  font-size: 10pt;
  line-height: 15pt;
  margin-top: 5pt;
  color: $FNW_TEXT;
}

h1, h2, h3, h4, h5, h6
{
  font-weight: normal;
  color: $FNW_TEXT;
}

h2 
{
  font-size: 18pt;
  line-height: 27pt;
}

h3 
{
  font-size: 14pt;
  line-height: 21pt;
}

h5 
{
  font-size: 12pt;
  line-height: 18pt;
}

h6 
{
  margin-top: 12px;
  font-size: 10pt;
  line-height: 15pt;
  font-weight: bold;
  text-transform: uppercase;
}

.square, .date_line, .time_line
{
  display: inline-block;
  height: 1em;
}

.square
{
  border: 1px solid $FNW_TEXT;
  width: 1em;
}

.date_line
{
  border-bottom: 1px solid $FNW_TEXT;
  width: 20em;
}

.time_line
{
  border-bottom: 1px solid $FNW_TEXT;
  width: 10em;
}

img
{
  margin-top: 9pt;
}

.btn
{
  margin-top: 9pt;
  font-size: 12pt;
  display: block;
}

@media print
{
  .btn
  {
    display: none;
  }
}