%h3
  = link_to sc_category_path(category),
    class: 'ajax' do
    %span= category.name
    %span.all
      %span= " - Browse All"
      %i.icon-arrow-right.icon-blue.icon-small

%table.featured_contents__table
  %tbody
    - category.featured_for_divisions(@as_divisions).each do |featured_sc_item|
      %tr
        = render "front/index/featured_content_item",
          featured_sc_item: featured_sc_item
