.span4.offsethalf
  - if profile.send(aop_method)
    .well.areas-of-practice
      %h6 Areas of Practice

      - profile.specializations.each do |specialization|
        = procedures_listing(profile.nested_procedures(specialization), profile)

  - if profile.interest.present?
    .well.areas-of-practice
      %h6 Most interested in
      %p= profile.interest.end_with_period.convert_newlines_to_br

  - if profile.not_performed.present?
    .well.areas-of-practice
      %h6 Does not see or do
      %p= profile.not_performed.end_with_period.convert_newlines_to_br
