- title "Review Queue Archive"

.content-wrapper

  %h2 Review Queue Archive

  - divisions = current_user_is_super_admin? ? Division.all : current_user_divisions

  - specialist_reviews = @review_items.reject{ |review_item| review_item.item.class != Specialist }.reject{ |review_item| (review_item.item.divisions & divisions).blank? }
  - clinic_reviews = @review_items.reject{ |review_item| review_item.item.class != Clinic }.reject{ |review_item| (review_item.item.divisions & divisions).blank? }

  = will_paginate @feedback_items, :renderer => PathwaysPaginationHelper::LinkRenderer, :inner_window => 2, :outer_window => 2

  .tabbable
    %ul.nav.nav-tabs
      %li.active
        %a{"href" => "#specialists_tab", "data-toggle" => "tab"}
          Specialist Review Items

      %li
        %a{"href" => "#clinics_tab", "data-toggle" => "tab"}
          Clinic Review Items

    .tab-content
      #specialists_tab.tab-pane.active
        = render "review_items/archived_table",
          target_type: "Specialist",
          review_items: specialist_reviews
      #clinics_tab.tab-pane
        = render "review_items/archived_table",
          target_type: "Clinic",
          review_items: clinic_reviews

  = will_paginate @feedback_items, :renderer => PathwaysPaginationHelper::LinkRenderer, :inner_window => 2, :outer_window => 2
