%h1 Listing review_items

%table
  %tr
    %th Item type
    %th Item
    %th Whodunnit
    %th

  - @review_items.each do |review_item|
    %tr
      %td= review_item.item_type
      %td= review_item.item_id
      %td= review_item.whodunnit
      %td= link_to 'Show', review_item, :class => 'ajax'

