<div id="analytic_box__container" style='background-color:<%= color %>'>
  <i class='<%= icon %>' id='analytic_box__icon'></i>
    <span id="analytic_box__number"><%= count %></span>
    <span id="analytic_box__title"><%= title %></span>
</div>