<div id="table_widget">
    <div id="table_widget__table">
        <h4 id="table_widget__title"><%= table_title %></h4>
        <a href="#" class="table_widget__link">
          <span class="table_widget__span">
            <%= number_with_delimiter(row_number_value) %>
          </span>
          <%= row_name %>
        </a>
    </div>
    <a href="#" class="table_widget__view_more">View all pages</a>
</div>
