- set_page_specific_title "User Page Views"


.content-wrapper#body
  .row
    #content.span12
      %h2{style: "margin-bottom: 10px"} User Page Views

      = label_tag "Start month:"
      = select_tag "start_month",
        options_for_select(@options_for_select, Month.prev.to_i),
        id: "start_month",
        class: "month_selector"

      = label_tag "End Month:"
      = select_tag "end_month",
        options_for_select(@options_for_select, Month.prev.to_i),
        id: "end_month",
        class: "month_selector"

      #chart_container

:javascript
  var showLoader = function() {
    $("#chart_container").html("<div id='heartbeat-loader-position'><div class='heartbeat-loader'></div></div>")
  };

  var updateDOM = function() {
    var startMonth = $("#start_month").val();
    var endMonth = $("#end_month").val();

    if (endMonth < startMonth) {
      $("#start_month").val(parseInt(endMonth));
      updateDOM();
    } else {
      var params = $.param({start_month: startMonth, end_month: endMonth});
      showLoader();

      $.get("/api/v1/reports/page_views?" + params).success(function(data) {
        $('#chart_container').highcharts(data);
      })
    }
  };

  $(".month_selector").change(function() {
    updateDOM();
  });

  $(document).ready(function() {
    updateDOM();
  });
