#referents_by_specialty_react_component

:javascript
  $("document").ready(function() {
    var store = window.pathways.bootstrapRedux({
      domElementSelector: "#referents_by_specialty_react_component",
      stateMapper: "ReferentsBySpecialty",
      topLevelComponent: "ReferentsBySpecialty",
      uiReducer: "ReferentsBySpecialty"
    })

    store.dispatch({
      type: "INITIALIZE_FROM_SERVER",
      initialState: #{@init_data.to_json}
    })

    window.pathways.globalDataLoaded.done(function(data) {
      store.dispatch({
        type: "INTEGRATE_LOCALSTORAGE_DATA",
        data: data
      });

      $("#heartbeat-loader-position").remove();
    })
  });
