- set_page_specific_title "Specialists and Clinics by Specialty"

#react_root--template

:javascript
  window.pathways = window.pathways || {};
  window.pathways.dataForReact = #{Oj.dump(@init_data)};
