- set_page_specific_title "Usage"

#referents_by_specialty_react_component

:javascript
  window.pathways.bootstrapReact({
    domElementSelector: "#referents_by_specialty_react_component",
    stateMapper: "ReferentsBySpecialty",
    topLevelComponent: "ReferentsBySpecialty",
    uiReducer: "ReferentsBySpecialty"
  }, #{@initData.to_json});
