- set_page_specific_title "Entity Page Views"

#react_container

:javascript
  window.pathways.bootstrapReact({
    domElementSelector: "#react_container",
    stateMapper: "UsageReport",
    topLevelComponent: "UsageReport",
    uiReducer: "UsageReport"
  }, #{@init_data.to_json});
