<!--[if lt IE 9 ]>
<script>

$(document).ready(function(){
  $('#ie_compatibility_warning').show();
});
</script>
<![endif]-->
<!--[if IE 9 ]>
<script>

$(document).ready(function(){
  $('#ie_compatibility_warning').show();
});
</script>
<![endif]-->
<div class="alert alert-danger alert-banner" id="ie_compatibility_warning" style="display: none">
  <i class="icon-ban-circle icon-red"></i>
  You are using an outdated Web Browser (Internet Explorer 9 or lower)<br>It is limiting your browsing experience.  Please upgrade your browser to use Pathways correctly.
  <a href="https://whatbrowser.org">Click here to find out how.</a>
  <a class="close" data-dismiss="alert" href="#">&times;</a>
</div>